// fonts
$font: 'Open Sans', sans-serif;
$font-size--default: 62.5%;
$font-size--logo-title: 3rem;
$font-size--logo-subtitle: 1rem;

// colors
$primary-color: #D3DEDC;
$secondary-color: #92A9BD;
$tertiary-color: #6a808f;
$fourth-color: #FFEFEF;
$label-button-menu--color: #FFFFFF;
$icon-search--color: #FFFFFF;


// sizes
$width-main: 1280px;
