@import '../../../../styles/variables';

.wallet__list {
  grid-area: wallet__list;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;

  .wallet__item {
    display: grid;
    grid-template-columns: 21rem 1.6fr 1.5fr 1fr 1fr 0.7fr;
    column-gap: 1.5rem;

    .detail__thumb {
      border: 1px solid #c4c4c4;
      max-width: 20rem;
      max-height: 20rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .detail__title,
    .detail__description,
    .detail__price,
    .detail__value {
      font-size: 1.8rem;
    }

    .detail__quantity {
      .detail__input {
        width: 100%;
        height: 2.7rem;
        font-size: 2.1rem;
        text-align: center;
      }
    }
  }
}