@import 'styles/variables';

.header {
  align-items: center;
  display: flex;
  height: 12rem;
  justify-content: space-between;
  max-width: $width-main;
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;

  .purchase__icon--header {
    color: #6a808f;
    font-size: 3rem;
    
  }

  .container__icon {
    position: relative;
  }

  .quantity__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $fourth-color;
    border-radius: 50%;
    padding: .1rem;
    position: absolute;
    left: -5px;
    bottom: 0;
    top: 20px;
    right: 0;
    color: $tertiary-color;
    font-weight: bold;
  }

  .quantity__cart--none {
    display: none;
  }
}