@import '../../common/style/variables';

.product__size {
    border: none;

    display: flex;
    justify-content: space-around;
    align-self: flex-end;

    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;

    padding: 0;
    width: 12rem;
    padding-bottom: 1.2rem;

    .size__input {
        display: none;

        &:checked+.size__label {
            background-color: $tertiary-color;
            border: 1px solid;
            color: $fourth-color;
        }
    }

    .size__label {
        border: solid .1rem $tertiary-color;
        display: flex;
        justify-content: center;
        height: 2.7rem;
        margin: .7rem;
        width: 1.5em;
        color: $tertiary-color;

        &:hover {
            background-color: $fourth-color;
            cursor: pointer;
        }
    }
}