.contact {

    .contact__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .contact__item {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: black;
    }

    grid-area: contact;

    .whatsapp__content,
    .phone__content {
        display: flex;
        align-items: center;

        a {
            margin-right: 1rem;
        }
    }
}