@import '../../styles/variables';

.search {
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.search__input {
    border: 1px solid #C4C4C4;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    width: 92%;
}

.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    width: 8%;
}

.search__icon {
    font-size: 2rem;
    color: $icon-search--color;
}