@import '../../common/style/variables';

.menu {
    width: 99%;
    height: 5rem;
    background-color: $tertiary-color;
    margin: 0 auto;
    display: flex;
    font-size: 1.6rem;
}

.menu__list {
    width: $width-main;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    color: $label-button-menu--color;

    a:hover {
        text-decoration: underline;
    }
}